<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin - Dashboard</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let aux of usuarios" [routerLink]="['/details/user-details', aux.email]">
      <ion-label>
        <p><b id="tipo">{{ aux.tipo }}</b></p>
        <h2>{{ aux.email}} </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
