<ion-content [fullscreen]="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ionic App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  </head>

  <body style="background-image: url('assets/fondos/background.png'); background-size: cover;">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="dark">
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="color-palette"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="globe"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <div id="map"></div>
    <div class="welcome-box">
      <h3>Bienvenid&#64;: {{ nombreUsuario }}</h3>
    </div>
  </body>
</ion-content>
