ion-content {
    --background: none;
  }
  
  #map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .card-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    z-index: 2;
  }

  .welcome-box {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 3;

    h3 {
      margin: 0;
      padding: 5px 10px;
      font-size: 15px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
  ion-button {
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
  }

  .example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }