<ion-content>
  <body>
    <div class="box-centered">
      <ion-card class="login-card">
        <ion-card-header>
          <h1><b>Bienvenid&#64;</b></h1>
        </ion-card-header>
        <ion-card-content [formGroup]="loginForm">
          <p style="margin-bottom: 10px;">Inicia sesion para ingresar a la aplicación y comenzar a viajar</p>
          <div class="input-container">
            <input formControlName="email" [(ngModel)]="emailValue" type="email" placeholder="Correo electrónico" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="pass" [(ngModel)]="passValue" type="password" placeholder="Contraseña" class="custom-input"/>
          </div>
          <div class="fab-container">
            <ion-fab-button color="dark">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="clientesVersion()" color="dark" style="margin-left: 20px;">
              <ion-icon name="person"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </body>
</ion-content>

