<!-- detalle-usuario.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <body style="background-image: url('assets/fondos/background.png'); background-size: cover;">
    <ion-card *ngIf="usuario">
      <ion-card-content>
        <h2>{{ userNombre }} {{ userApellido }} ({{ userTipo }})</h2>
        <h3>Correo: <b>{{ userEmail }}</b></h3>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="conductor">
      <ion-card-content>
        <h2>{{ conductorNombre }} {{ conductorApellido }}</h2>
        <h3>Correo: <b>{{ conductorEmail }}</b></h3>
        <h4>RUT: <b>{{ conductorRut }}</b></h4>
        <h4>Patente: <b>{{ conductorPatente }}</b></h4>
      </ion-card-content>
    </ion-card>
  </body>
</ion-content>
