<ion-content>
  <body>
    <div class="box-centered">
      <ion-card class="login-card">
        <ion-card-header>
          <h1><b>Registro</b></h1>
        </ion-card-header>
        <ion-card-content [formGroup]="registerForm">
          <div class="input-container">
            <input formControlName="firstName" type="text" placeholder="Nombre" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="lastName" type="text" placeholder="Apellido" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="email" type="email" placeholder="Correo electrónico" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="pass" type="password" placeholder="Contraseña" class="custom-input"/>
          </div>
          <div class="input-container">
            <input formControlName="repass" type="password" placeholder="Repite la contraseña" class="custom-input"/>
          </div>
          <div class="fab-container">
            <ion-fab-button (click)="register()" color="dark">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="login()" color="dark" style="margin-left: 20px;">
              <ion-icon name="person"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </body>
</ion-content>


