<ion-content>
  <body style="background-image: url('assets/fondos/background.png'); background-size: cover;">
    <div class="box-centered">
      <ion-card class="login-card">
        <ion-card-header>
          <img alt="Credentials" src="assets/icon/credential-add.png"/>
        </ion-card-header>
        <ion-card-content [formGroup]="registerForm">
          <div class="input-container">
            <input formControlName="firstName" type="text" placeholder="Nombre"/>
            <input formControlName="lastName" type="text" placeholder="Apellido"/>
          </div>
          <div class="input-container">
            <input formControlName="email" type="email" placeholder="Correo electrónico"/>
          </div>
          <div class="input-container">
            <input formControlName="pass" type="password" placeholder="Contraseña"/>
          </div>
          <div class="input-container">
            <input formControlName="repass" type="password" placeholder="Repite la contraseña"/>
          </div>

          <ion-grid style="padding: 0;">
            <ion-row>
              <ion-col>
                <ion-item color="aaa" lines="none">
                  <ion-label position="stacked">Usuario</ion-label>
                  <ion-toggle color="dark" [checked]="accountType === 'usuario'" (ionChange)="setAccountType('usuario')"></ion-toggle>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item color="aaa" lines="none">
                  <ion-label position="stacked">Conductor</ion-label>
                  <ion-toggle color="dark" [checked]="accountType === 'conductor'" (ionChange)="setAccountType('conductor')"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="fab-container">
            <ion-fab-button (click)="register()" color="dark">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="login()" color="dark" style="margin-left: 20px;">
              <ion-icon name="person"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </body>
</ion-content>