<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <body style="background-image: url('assets/fondos/background.png'); background-size: cover;">
    <ion-card class="admin-card"style="margin: 30px;">
      <ion-card-header>
        <h1><b>Funciones administrador</b></h1>
      </ion-card-header>
    </ion-card>
    
    <ion-card-header>
      <ion-button  expand="block" color=" " style="color: black; font-weight: bold; margin-bottom: 20px;"(click)="irGestUser()">
        Gestionar usuarios
      </ion-button>
      <ion-button expand="block" color=" " style="color: black; font-weight: bold; margin-bottom: 20px;">
        Revisión de viajes
      </ion-button>
      <ion-button expand="block" color=" " style="color: black; font-weight: bold; margin-bottom: 20px;">
        Panel de estadísticas
      </ion-button>
      <ion-button expand="block" color=" " style="color: black; font-weight: bold; margin-bottom: 20px;">
        Gestión de incidentes
      </ion-button>
      
    </ion-card-header>
  </body>
</ion-content>

